.groupAndDate {
    text-align: center;
}

.groupAndDate .inline {
    display: inline-block;
    font-size: 0.8em;
    color: grey;
    vertical-align: middle;
}

.groupAndDate .category{
    background-color: silver;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    color: inherit;
}

.groupAndDate .subcategory{
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-size: 0.9em;
    color: inherit;
    border: 1px solid black;
}

.end {
    text-decoration: underline;
}

.start {
    font-size: 0.7em;
}

.content {
    padding: 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: WhiteSmoke;
    text-align: justify;
    white-space: normal;
}

.byWhom {
    float: right;
    font-style: italic;
}

@media (max-width: 575px) {
    .end {
        font-size: 0.7em;
    }
}