.sorting {
    margin-left: 2em;
}

@media (max-width: 1199px) {
    .sorting {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .sortButton {
        width: 10em;
        display: block;
    }
}
