.tasksLoading {
    margin-top: 2em;
}
.task {
    height: 3.2em;
    text-align: center;
    margin: 3em 0;
    cursor: pointer;
}

.strip {
    display: inline-block;
    width: 10px;
    height: 99%;
    margin-left: 0.3em;
}

.smallImg, .smallDescription {
    display: inline-block;
    margin: 0;
}

.smallImg {
    width: 3.2em;
    height: 3.2em;
    margin: 0 1em 2.7em 1em;
}

.smallDescription {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    text-align: left;
    overflow: hidden;
}

.actions {
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: bottom;
}

.actions .actionsImg:first-child {
    margin-bottom: 1.5em;
}

.actionsImg {
    display: block;
    width: 0.8em;
    height: 0.8em;
    margin-bottom: 2.75em;
}

@media (max-width: 991px) {
    .smallDescription {
        width: 60%;
    }
    .tasksLoading {
        position: relative;
    }
}
@media (max-width: 767px) {
    .smallDescription {
        width: 60%;
    }
}
@media (max-width: 575px) {
    .smallImg {
        display: none;
    }
    .smallDescription {
        width: 80%;
    }
    .strip {
        width: 7px;
        height: 99%;
        margin-left: 0;
        background-color: red;
    }
    .actionsImg {
        margin-bottom: 0.4em;
    }
}